@charset "UTF-8";

@font-face {
    font-family: 'Cloister Black';
    src: url('fonts/CloisterBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --soft-blue: #586F8C;
    --hard-blue: #495B73;
    --black-alt: #262625;
    --grey-alt: #c4c4c4;
    --white-alt: #F2F2F2;
}

li {
    list-style: none;
    margin: 2em 0em;
    height: 3em;
}

.menu {
    width: 45%;
    margin: auto;
    text-align: center;
    border: 1px solid var(--soft-blue);
    border-radius: 5px;
    padding: 0em 1.75em;
}
menu {
    padding: 0px;
}

body {
    background-color: var(--black-alt);
    margin-left: 10px;
}

.title_game {
    width: 80%;
    text-align: center;
    margin: 1em auto;
    font: normal 275% 'Cloister Black';
    border: 8px ridge var(--soft-blue);
    border-radius: 7px;
    background-color: #0D0D0D;
    color: var(--white-alt);
    text-shadow: 3px 3px 5px var(--hard-blue);
}

.button_menu {
    width: 55%;
    height: 80%;
    border: 3px solid var(--soft-blue);
    background-color: var(--white-alt);
    border-radius: 3px;
    color: var(--hard-blue);
    font: bolder 100% 'Lucida Sans';
}
.button_menu:hover {
    border: 3px solid var(--white-alt);
    background-color: var(--soft-blue);
    color: var(--white-alt);
    transition-duration: 0.5s;
}

.button_back {
    width: 50px;
    height: 30px;
    border: 3px solid var(--soft-blue);
    background-color: var(--white-alt);
    border-radius: 5px;
    color: var(--soft-blue);
    font: bold 80% 'Lucida Sans';
    text-align: center;
    padding: 0;
    display: block;
}
.button_back:hover {
    border: 3px solid var(--white-alt);
    background-color: var(--soft-blue);
    color: var(--white-alt);
    transition-duration: 0.5s;

}
#board {
    width: 50%;
    display: inline-block;
    margin: auto 225px;

}
.line {
    width: 100%;
    height: 65px;
    background-color: var(--white-alt);
}
.square {
    width: 12.25%;
    height: 100%;
    display: inline-block;
    margin: -2px;
    border: solid 1px var(--soft-blue);
}
.player {
    display: inline-block;
}

.hard_blue {
    background-color: var(--soft-blue);
}
.player {
    background-color: var(--hard-blue);
    border-radius: 50%;
    border: 10px solid var(--white-alt);
    color: var(--white-alt);
    width: 75px;
    height: 70px;
    text-align: center;
}
#player_name1 {
    text-align: center;
    margin-top: 25px;
}
#player_name2 {
    text-align: center;
    margin-top: 25px;
}
.piece {
    width: 45px;
    height: 55px;
    text-align: center;
    padding: 5px 15px;
}
.title_page {
    width: 40%;
    text-align: center;
    margin: auto;
    font: normal 275% 'Cloister Black';
    border-radius: 7px;
    color: var(--white-alt);
    text-shadow: 3px 3px 5px var(--hard-blue);
}
a {
    text-decoration: none;
}

.content_text {
    margin: 10px 80px;
    border: solid 1px var(--soft-blue);
    padding: 50px;
    padding-bottom: 0px;
    border-radius: 7px;
}

h2, h3, h4 {
    color: var(--grey-alt);
    text-shadow: 0.2px 0.2px 1px var(--white-alt);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2em;
}


h3, .sub_h3 {
    text-indent: 1em;
}
h4, .sub_h4 {
    text-indent: 2em;
}
p {
    color: var(--white-alt);
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
}